<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <!--<bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicoEstoque" />
                <binding name="BasicHttpBinding_IServicoEstoqueV2" />
            </basicHttpBinding>
        </bindings>-->
        <client>
            <endpoint address="http://localhost:8010/ServicoEstoque/Service.svc"
                binding="ws2007HttpBinding" bindingConfiguration="" contract="EstoqueCliente.ServicoEstoque.IServicoEstoqueV2"
                name="WS2007HttpBinding_IServicoEstoque" />
        </client>
    </system.serviceModel>
</configuration>